<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" receiveTimeout="23:59:59.0000" closeTimeout="23:59:59.0000" sendTimeout="23:59:59.0000" maxBufferSize="2147483647" openTimeout="23:59:59.0000" maxBufferPoolSize="2147483647">
          <security mode="None"></security>
          <readerQuotas maxArrayLength="2147483647" />
        </binding>
        <binding name="NetTcpBinding_ISlimsteService" maxReceivedMessageSize="2147483647" receiveTimeout="23:59:59.0000" closeTimeout="23:59:59.0000" sendTimeout="23:59:59.0000" openTimeout="23:59:59.0000">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost:8733/SlimsteService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISlimsteService" contract="SlimsteAdminService.ISlimsteService" name="NetTcpBinding_ISlimsteService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>