<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISlimsteService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8733/SlimsteService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISlimsteService"
                contract="SlimsteAdminService.ISlimsteService" name="NetTcpBinding_ISlimsteService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>